<?xml version="1.0" encoding="UTF-8"?>
<config>
    <namespace>http://data.nli.org.il/resource/</namespace>
    <conceptSchemeLabel>LCSH Judaica</conceptSchemeLabel>
    <languageMappings>
        <languageMapping>
            <marc>heb</marc>
            <lang>he</lang>
        </languageMapping>
        <languageMapping>
            <marc>lat</marc>
            <lang>en</lang>
        </languageMapping>
    </languageMappings>
</config>
